* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div[role="group"][tabindex] {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

a {
  color: rgb(17, 179, 187);
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
}

.doc-link {
  padding-top: 10;
  padding-bottom: 10;
  font-size: 1.25rem
}

.nav__link {
  color: rgb(17, 179, 187);
  text-decoration: none;
  margin-left: 1em;
  font-weight: bold;
}

.nav__link:visited {
  color: rgb(17, 179, 187);
  text-decoration: none;
  margin-left: 1em;
  font-weight: bold;
}

.logo__icon {
  align-items: center;
  display: flex
}

.logo__title {
  text-decoration: none;
  color: #fff;
  flex: 1
}

p {
  word-wrap: break-word;
  margin-bottom: 0.5em
}

.example {
  padding: 0.5em
}

.main {
  display: flex;
  flex-direction: column;
  flex: 80%;
  flex-grow: 1;
  padding: 0.5rem;
}

.main_inner {
  max-width: 768px;
}

.sidebar {
  flex: 20%;
  list-style-type: none;
  padding-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 10px;
}

.demo__button_bar {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}

.list {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}

.bullet-list {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: square;
}

.content {
  display: flex;
  padding-top: 1vh;
  flex-grow: 2;
  /*min-height: 90vh;*/
  width: 100%;
  box-sizing: border-box;
}

.code-listing {
  max-width: 85vw;
}

pre {
  box-sizing: border-box;
}

/* workaround for 125% hack of JSONForms */
label {
  max-width: 100%;
}

.greyBox {
  background-color: #eeeeee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.toc {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.5;
}

.caption {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.examples__array_note {
  display: none;
}

.renderer_sets__table__supported {
  background-color: #7da01f;
  opacity: 0.5;
}

.renderer_sets__table__not_supported {
  /*background-color: red;*/
  opacity: 0.5;
}


main {
  display: flex;
  flex-direction: column;
}

.toc_button {
  display: none !important;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
  font-size: 1.2rem;
}

ol li {
  color: #2D3747
}

ul li {
  color: #2D3747;
  font-size: 1.2rem;
}

@media only screen and (max-width: 850px) {
  .toc_button {
    display: inline !important;
  }
  .content {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .renderer_sets__features_table {
      display: none !important;
  }
  .examples__array {
    display: none;
  }
  .examples__array_note {
    display: block;
  }
  .navbar__support_link {
    display: none;
  }
  .sidebar {
    display: none;
    list-style-type: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo__title {
    display: none;
    text-decoration: none;
    color: #fff;
    flex: 1
  }
  .es-logo {
    width: 80vw
  }
  .demo__button_bar {
    display: none;
  }
}

