* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.link {
  color: rgb(17, 179, 187);
  text-decoration: none;
}

.nav__link {
  color: rgb(17, 179, 187);
  text-decoration: none;
  margin-left: 1em;
  font-weight: bold;
}

.nav__link:visited {
  color: rgb(17, 179, 187);
  text-decoration: none;
  margin-left: 1em;
  font-weight: bold;
}

.logo__icon {
  align-items: center;
  display: flex
}

.logo__title {
  text-decoration: none;
  color: #fff;
  flex: 1
}

footer {
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.footer__version_and_copyright {
  display: flex;
  justify-content: space-around;
}

.footer__version_and_copyright-copyright {
  padding-left: 0.5em;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .footer__version_and_copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

p {
  word-wrap: break-word;
  margin-bottom: 0.5em
}

.landing-page__features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2em;
  padding-right: 2em;
  background: #212121;
}

.landing-page__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_page__detail {
  color: #9b9b9b;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.landing-page__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-grow: 0;
}

.landing-page__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-grow: 0;
}

.content {
  display: flex;
  padding-top: 1vh;
  /*padding-left: 5vh;*/
  flex-grow: 2;
  /*min-height: 90vh;*/
  width: 100%;
  box-sizing: border-box;
}

.example {
  padding: 0.5em
}

.examples__main {
  flex: 80%;
}

.examples__main-inner {
  max-width: 768px;
  margin: 0 auto;
}

.docs__main {
  flex: 80%;
}

.docs__main-inner {
  max-width: 768px;
  margin: 0 auto;
}

.docs__sidebar {
  list-style-type: none;
  flex: 20%;
  padding-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  position: fixed;
}

.demo__button-bar {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}

.list {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: none;
}

.bullet-list {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  list-style: square;
}


.code-listing {
  max-width: 85vw;
}

pre {
  box-sizing: border-box;
}

/* workaround for 125% hack of JSONForms */
label {
  max-width: 100%;
}

.grey-box {
  background-color: #eeeeee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

.toc {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  line-height: 1.5;
}

.caption {
  display: flex;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.schema-logo {
  padding: 18px;
  background: url("pages/home/schemalogo.svg");
  background-size: 108px;
}

.icon {
  color: #ffffff;
}

.examples__array_note {
  display: none;
}

@media only screen and (max-width: 600px) {
  .docs__main {
  }
  .docs__main-inner {

  }
  .examples__array {
    display: none;
  }
  .examples__array_note {
    display: block;
  }
  .schema-logo {
    padding: 18px;
    background: url("pages/home/schemalogo-white.svg");
    background-size: 108px;
  }
  .icon {
    color: #000000;
  }
  .content {
    display: flex;
    /*padding: 10vh 0 0;*/
    flex-grow: 2;
    /*min-height: 90vh;*/
    min-width: 85vw;
    max-width: 85vw;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .landing-page__features {
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  .landing-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar__support-link {
    display: none;
  }
  .docs__sidebar {
    display: none;
    list-style-type: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo__title {
    display: none;
    text-decoration: none;
    color: #fff;
    flex: 1
  }
  .es-logo {
    width: 80vw
  }
  .demo__button-bar {
    display: none;
  }
}

